body{
    font-family: 'Courier New', Courier, monospace;
}
ul {
    padding: 0;
}
ul > li {
    list-style-type: none;
}

header > h1{
    text-align: center;
}
input {
    font-family: 'Courier New', Courier, monospace;
    width: max-content;
    flex-grow: 1;
    margin-right: 10px;
}
button {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #555;
    background: none;
    border-radius: 4px;
    color: #555;
    justify-self: flex-end;
}
button:focus{
    outline: none;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list {
    width: 70vw;
    max-width: 50vw;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 10px;
}
.todo-item:last-child{
    margin-bottom: 0;
}
.buttons{
    display: flex;
}
.button-complete{
    margin-right: 5px;
}
.button-complete:hover{
    border: 2px solid #0f0;
    color: #0f0;
}
.button-delete:hover{
    border: 2px solid #f00;
    color: #f00;

}
.button-add-todo:hover{
    border: 2px solid #00f;
    color: #00f;

}
.add-todo-form {
    width: 70vw;
    max-width: 50vw;
    display: flex;
    justify-content: flex-end;
}
.bg-gray{
    background-color: #888;
}
